/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }

/* setting body's margin, padding to 0 */
body {
    margin: auto;
    padding: 0;
    width: 60%;
}

@media only screen and (max-width: 600px) {
    body {
        margin: auto;
        padding: 0;
        width: 90%;
    }
}

/* style the header */
.header {
    text-align: center;
    color: white;
    padding: 0.5rem 0 1rem 0;
    font-family: 'Trebuchet MS', sans-serif;
}

/* style the input */
input {
    width: 70%;
    font-size: 1rem;
    padding: 0.7rem;
    margin:0;
    border: 0.1rem solid #6C63FF;
    /* border-radius: 0.5rem; */
    font-family: 'Courier New', monospace;
}

/* style the "Add" button */
#addBtn {
    width: 25%;
    font-size: 1rem;
    padding: 0.7rem;
    margin: 0;
    color: white;
    background-color: #6C63FF;
    border-radius: 0.5rem;
    border: 0.1rem solid #6C63FF;
}
#addBtn:hover {
    background-color: #4b44db;
    cursor: pointer;
    transition: 0.2s;
}


