/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }

/* setting body's margin, padding to 0 */
body {
    margin: 0;
    padding: 0;
}

/* style the header */
.header {
    text-align: center;
    background-color: #f44336;
    color: white;
    padding: 0.5rem 0 1rem 0;
}

/* style the input */
input {
    width: 70%;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
}

/* style the "Add" button */
.addBtn {
    width: 25%;
    background-color: rgb(180, 173, 173);
    font-size: 1rem;
    padding: 0.5rem;
    margin-left:-0.25rem;
}
.addBtn:hover {
    background-color: rgb(133, 129, 129);
    cursor: pointer;
    transition: 0.2s;
}